
@model  Db.Models.SelectBillEditorViewModel

@{
    ViewData["Title"] = "SelectBillEditorViewModel";
}

<tr>
    <td style="text-align:center">
        @if (@Model.Status == 0)
        {
            @Html.CheckBoxFor(model => model.Selected)
        }

    </td>
    <td>
        @Html.DisplayFor(model => model.Bill_description)
    </td>
    <td>
        @Html.DisplayFor(model => model.DueDate)
    </td>
    <td>
        @Html.DisplayFor(model => model.Amount)
    </td>
    <td>
        @Html.HiddenFor(model => model.ID)
    </td>
    <td>
        @if (@Model.Status == 0)
        {
            <a asp-action="CreditCardPayment" asp-route-id="@Model.ID"><span class="glyphicon glyphicon-euro"></span> Πληρωμή Λογαριασμού </a>

        }
        else if (@Model.Status == 1)
        {
            <p>Paid Bill</p>
        }
        else
        {
            <p>Προς έγκριση διακανονισμού</p>
        }
    </td>
</tr>



