
@model  Db.Models.SelectBillEditorViewModel

@{
    ViewData["Title"] = "SelectBillEditorViewModel";
}

<tr>
    <td style="text-align:center">
        <div class="btn-group btn-group-xs" data-toggle="buttons">
            @if (@Model.Status == 0)
            {
                <label class="btn btn-default">
                    <input type="checkbox" autocomplete="off">
                    <span class="glyphicon glyphicon-ok"></span>
                    @Html.CheckBoxFor(model => model.Selected)
                </label>
            }
        </div>

    </td>
    <th>
        @Html.DisplayFor(model => model.Bill_description)
    </th>
    <th>
        @Html.ValueFor(model => model.DueDate, "{0:dd/MM/yyyy hh:mm}")
    </th>
    <th>
        @Html.ValueFor(model => model.Amount, "{0:C}")
    </th>
    <td>
        @if (@Model.Status == 0)
            {
            <a asp-action="CreditCardPayment" asp-route-id="@Model.ID" class="btn btn-info btn-sm" role="button"> Πληρωμή Λογαριασμού </a>

        }
        else if (@Model.Status == 1)
        {
            <h4><label class="btn btn-success btn-sm">Εξοφλημένος Λογαριασμός</label></h4>
        }
        else
        {
            <h4><label class="btn btn-default btn-sm">Προς έγκριση διακανονισμού</label></h4>
        }
    </td>

</tr>

@Html.HiddenFor(model => model.ID)