
@model  Db.Models.SelectBillEditorViewModel

@{
    ViewData["Title"] = "SelectBillEditorViewModel";
}

<tr>
    <td>
        @if (@Model.Status == 0)
        {
           @Html.CheckBoxFor(model => model.Selected)
        }
    </td>
    <td>
        @Html.DisplayFor(model => model.Amount)
    </td>
    <td>
        @Html.DisplayFor(model => model.DueDate)
    </td>
    <td>
        @Html.DisplayFor(model => model.Bill_description)
    </td>    
    <td>
        @if (@Model.Status == 0)
        {
            <a asp-action="CreditCardPayment" asp-route-id="@Model.ID">Pay Bill</a>
        }
        else
        {
            <p>Paid Bill</p>
        }
    </td>

</tr>

