@model Db.Models.SubmitSelected
@{
    ViewData["Title"] = "Διακανονισμός";

}

<div class="col-xs-12 center">
    <div class="notice notice-warning">
       
            <h4 class="box-title"><strong>Επιλεγμένοι Λογαριασμοί</strong></h4>

        <div class="box-body no-padding">
            <table class="table table-condensed">
                <tr>
                    <th>
                        Είδος
                    </th>
                    <th>
                        Ημερομηνία Λήξης
                    </th>
                    <th>
                        Ποσό
                    </th>
                </tr>
                <tbody>
                    @foreach (var item in Model.Bills)
                    {
                        <tr>
                            <th>
                                @Html.DisplayFor(modelItem => item.Bill_description)
                            </th>
                            <th>
                                @Html.ValueFor(modelItem => item.DueDate, "{0:dd/MM/yyyy hh:mm}")
                            </th>
                            <th>
                                @Html.ValueFor(modelItem => item.Amount, "{0:C}")
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="panel notice-warning">
    <table class="table table-hover" id="dev-table">
        <tbody>
            <tr>
                <th>
                    Συνολικό ποσό προς διακανονισμό
                </th>

                <th>
                    @Html.ValueFor(model => model.TotalAmount, "{0:C}")
                </th>
            </tr>
        </tbody>
    </table>
</div>



<br />
<br />


    <div class="col-xs-4">
        <div class="box box-warning">
            <div class="box-header">
                <strong><h4>Διαθέσιμοι τύποι διακανονισμού</h4></strong>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                @foreach (var item in Model.SettlementTypesEnum)
            {
                if (item.Code == "0")
                {
                    continue;
                }

                <dl class="col-xs-6 notice">

                    <dt>
                        @Html.DisplayFor(modelItem => item.Code)
                    </dt>
                    <dd>
                        Μεγιστος Αριθμός Δόσεων  @Html.DisplayFor(modelItem => item.MaxNoInstallments)
                    </dd>
                    <dd>
                        Τόκος  @Html.DisplayFor(modelItem => item.Interest) %
                    </dd>
                    <dd>
                        Προκαταβολή  @Html.DisplayFor(modelItem => item.DownPaymentPercentage)%
                    </dd>
                </dl>


                }

            </div>
        </div>
    </div>







    <div class="row">
        <div class="col-xs-4">
            <section>
                <div class="box box-danger">
                    <div class="box-body ">
                        <form id="Settlemetns">

                            <div class="form-group">
                                <label class="control-label box-header">Επιλέξτε Τύπο Διακανονισμού </label>
                                <select asp-for="SettlementType" class="form-control" asp-items="@Model.SettlementTypes" onchange="onChange()"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label box-header" type="hidden" id="MaxNoOfInstallmentslb">Επιλέξτε Αριθμό Δόσεων</label>
                                <select asp-for="MaxNoOfInstallments" class="form-control" asp-items="@Model.Installments" onchange="onChange2()"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label box-header" id="Interestlb">Τόκος %</label>
                                <input asp-for="Interest" class="form-control" asp-items="@Model.Interest">
                            </div>

                            <div class="form-group">
                                <label class="control-label box-header" id="DownPaymentlb">Προκαταβολή %</label>
                                <input asp-for="DownPayment" class="form-control" asp-items="@Model.DownPayment">
                            </div>

                            <div class="form-group">
                                <label asp-for="IsAccepted" class="control-label box-header" type="hidden" id="IsAcceptedlb"></label>
                                <input asp-for="IsAccepted" class="form-control" asp-items="@Model.IsAccepted" type="hidden">
                            </div>
                            <div class="form-group">
                                <label asp-for="TotalAmount" class="control-label box-header" type="hidden" id="TotalAmountlb"></label>
                                <input asp-for="TotalAmount" class="form-control" asp-items="@Model.TotalAmount">
                            </div>

                            <div class="form-group">
                                <input asp-for="BillsStr" class="form-control box-header" asp-items="@Model.BillsStr">
                            </div>

                        
                            <div class="form-group">
                                <label asp-for="Monthly" class="control-label box-header" type="hidden" id="Monthlylb"></label>
                                <input asp-for="Monthly" class="form-control" asp-items="@Model.Monthly">
                            </div>


                            <div class="form-group">
                                <label asp-for="DownPaymentValue" class="control-label box-header" type="hidden" id="DownPaymentValuelb"></label>
                                <input asp-for="DownPaymentValue" class="form-control" asp-items="@Model.DownPaymentValue" >
                            </div>
                            
                            <hr />
                            <div id="SettlText" class="form-group  box-info">
                            </div>
                        </form>

                        <button id="Submit" type="button" class="btn btn-info fa fa-check" data-toggle="modal" data-target="#modal-info">Αίτηση Διακανονισμού</button>
                    </div>


                </div>
                <div class="modal modal-info fade" id="modal-info">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <p class="modal-title">Θελετε να αποσταλεί το αίτημα διακανονισμού στην τράπεζα προς έκγκριση?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Άκυρο</button>
                                <button type="button" onclick="Submit()" class="btn btn-outline">Επιβεβαίωση</button>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>

        <br />
        <br />




        <script type="text/javascript">

              $(document).ready(function () {
                  $('#TotalAmount').hide();
                  $('#TotalAmountlb').hide();
                  $('#Interest').hide();
                  $('#Interestlb').hide();
                  $('#DownPayment').hide();
                  $('#DownPaymentlb').hide();
                  $('#DownPaymentValue').hide();
                  $('#DownPaymentValuelb').hide();
                  $('#MaxNoOfInstallments').hide();
                  $('#MaxNoOfInstallmentslb').hide();
                  $('#Monthlylb').hide();
                  $('#Monthly').hide();
                  $('#IsAccepted').hide();
                $('#IsAcceptedlb').hide();
                $('#BillsStr').hide();
                $('#Submit').hide();
                $('#SettlText').hide();

              $('#TotalAmount').prop("disabled", true);
              $('#Interest').prop("disabled", true);
              $('#DownPayment').prop("disabled", true);
              $('#IsAccepted').prop("disabled", true);
              $('#BillsStr').prop("disabled", true);
              $('#DownPaymentValuelb').prop("disabled", true);
              $('#Monthly').prop("disabled", true);
              $('#Submit').prop("disabled", true);
                });



        var selectElement = document.getElementById("SettlementType");
        var selectElement2 = document.getElementById("MaxNoOfInstallments");


            selectElement.onchange = function () {
                $('#TotalAmount').prop("disabled", true);
                $('#Interest').prop("disabled", true);
                $('#DownPayment').prop("disabled", true);
                $('#IsAccepted').prop("disabled", true);
                $('#BillsStr').prop("disabled", true);
                $('#Monthlylb').prop("disabled", true);
                $('#Monthly').prop("disabled", true);
                $('#Submit').prop("disabled", true);
                $('#TotalAmount').hide();
                $('#TotalAmountlb').hide();
                $('#Interest').hide();
                $('#Interestlb').hide();
                $('#DownPayment').hide();
                $('#DownPaymentlb').hide();
                $('#MaxNoOfInstallments').hide();
                $('#MaxNoOfInstallmentslb').hide();
                $('#BillsStr').hide();
                $('#Monthlylb').hide();
                $('#Monthly').hide();
                $('#DownPaymentValue').hide();
                $('#DownPaymentValuelb').hide();
                $('#Submit').hide();
                $('#SettlText').hide();

                var data = $("#Settlemetns").serialize();
                if ($('#SettlementType :selected').text() == '') {
                    alert("Θα πρέπει να επιλέξετε ένα τύπο διακανονισμού!" );
                   return;
                }
            $.ajax({
                type: "Post",
                datatype: "json",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                data: data,
                xhrFields: {
                    withCredentials: true
                },
                url: '@Url.Action("DDAjax1","Bills")',

                success: function (result) {
                    $('#MaxNoOfInstallments').empty();
                   // debugger;
                    console.log(result);
                    for (var i = 0; i < result.length; i++) {
                        var opt = new Option(result[i]);
                        $("#MaxNoOfInstallments").append(opt);
                    }
                    $("#MaxNoOfInstallmentslb").show('slow');
                    $("#MaxNoOfInstallments").show('slow');
                }
                ,
                fail: function (result)
                { alert("Error filling drop down") }
            });

        }


            selectElement2.onchange = function () {
                $('#BillsStr').prop("disabled", false);
                $('#TotalAmount').prop("disabled", false);
                $('#Interest').prop("disabled", true);
                $('#DownPayment').prop("disabled", true);
                $('#DownPaymentValue').prop("disabled", true);
                $('#IsAccepted').prop("disabled", true);
                $('#Submit').prop("disabled", true);

                var data = $("#Settlemetns").serialize();

                if ($('#MaxNoOfInstallments :selected').text() == '0')
                   {alert('Δεν μπορείτε να επιλέξετε 0 δόσεις!Κάντε μια νέα επιλογή');
                    return;}

            $.ajax({
                type: "Post",
                datatype: "json",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                data: data,
                xhrFields: {
                    withCredentials: true
                },
                url: '@Url.Action("DDAjax2","Bills")',

                success: function (result, textstatus, xhr) {

                        $('#DownPayment').val(result.downPayment);
                        $('#DownPaymentValue').val(result.downPaymentValue);
                        $('#IsAccepted').val(result.isAccepted);
                        $('#Interest').val(result.interest);
                        $('#MaxNoOfInstallments').val(result.maxNoOfInstallments);
                        $('#Monthly').val(result.monthly);
                        $('#SettlText').text(result.settlText);


                        $('#BillsStr').prop("disabled", true);
                        $('#TotalAmount').prop("disabled", true);
                        $('#Interest').prop("disabled", true);
                        $('#DownPayment').prop("disabled", true);
                        $('#IsAccepted').prop("disabled", true);
                        $('#Submit').prop("disabled", false);


                        $('#Interest').show('slow');
                        $('#Interestlb').show('slow');
                        $('#DownPayment').show('slow');
                        $('#DownPaymentlb').show('slow');
                        $('#MaxNoOfInstallments').show('slow');
                        $('#MaxNoOfInstallmentslb').show('slow');
                        $('#Monthlylb').show('slow');
                        $('#Monthly').show('slow');
                        $('#DownPaymentValue').show('slow');
                        $('#DownPaymentValuelb').show('slow');
                        $('#SettlText').show('slow');
                      //  $('#TotalAmount').show('slow');
                     //   $('#TotalAmountlb').show('slow');
                        $('#Submit').show('slow');
                       // $('#BillsStr').show('slow');

                        
                }
                ,
                fail: function (result)
                { alert("Error filling drop down") }

                });
            window.scrollTo(0, document.body.scrollHeight);
        };


            //function ConfirmDialog(message) {
            //    $('<div></div>').appendTo('body')
            //        .html('<div><h6>' + message + '?</h6></div>')
            //        .dialog({
            //            modal: true, title: 'Delete message', zIndex: 10000, autoOpen: true,
            //            width: 'auto', resizable: false,
            //            buttons: {
            //                Yes: function () {
            //                    // $(obj).removeAttr('onclick');
            //                    // $(obj).parents('.Parent').remove();

            //                    $('body').append('<h1>Confirm Dialog Result: <i>Yes</i></h1>');

            //                    $(this).dialog("close");
            //                },
            //                No: function () {
            //                    $('body').append('<h1>Confirm Dialog Result: <i>No</i></h1>');

            //                    $(this).dialog("close");
            //                }
            //            },
            //            close: function (event, ui) {
            //                $(this).remove();
            //            }
            //        });
            //};



        var Submit = function (e)
        {
            //ConfirmDialog('Θελετε να αποσταλεί το αίτημαδιακανονισμού στην τράπεζα?')
           // e.preventDefault();
            $('#modal-info').modal('hide')
            $('#BillsStr').prop("disabled", false);
            $('#TotalAmount').prop("disabled", false);
            $('#Interest').prop("disabled", false);
            $('#DownPayment').prop("disabled", false);
            $('#DownPaymentValue').prop("disabled", false);
            $('#IsAccepted').prop("disabled", false);
            var data = $("#Settlemetns").serialize();

            $.ajax({
                type: "Post",
                datatype: "json",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                data: data,
                xhrFields: {
                withCredentials: true
                },
                url: '@Url.Action("Submit","Bills")',

                success: function (result) {

                    window.location.replace("../Bills/Index");
                },
                fail: function (result)
                {
                    alert("Error");
                }

            });
        };



        </script>

