@model IEnumerable<Db.Models.Settlements>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RequestDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnswerDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DownPayment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Installments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Interest)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAccepted)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.SettlementType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Installments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAccepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SettlementType.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
