@model IEnumerable<Db.Models.Settlements>

@{
    ViewData["Title"] = "Οι Διακανονισμοί μου";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-12 center">
    <div class="notice notice-warning">

  

        <div class="box-body no-padding">
            <table class="table table-condensed">
                <tr>
                    <th>
                        Date Requested
                    </th>
                    <th>
                        Down Payment
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Installments)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Interest)
                    </th>
                    <th>
                    </th>

                </tr>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RequestDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DownPayment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Installments)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Interest)
                            </td>
                            <td class="button">
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            </td>

                       </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
